
<section id="services" class="text-center wrapping-home" style="position: relative">
    <!--    <img src="assets/img/1.jpg" alt="" class="img-responsive" style="position: absolute; margin-top:-70px; width:inherit; height: inherit;"/>-->
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 column">
                <h1 style="text-transform: capitalize;">Revolutionary next gen technologies</h1>
                <h2 class="left-align">Plus</h2>
                <h1 style="text-transform: capitalize;">Adoption complexity removed</h1>
                <h2 class="left-align">Means</h2>
                <h1>Accelerated time to value</h1>
                <button class="btn btn-default" ng-click="goToElement('services','ad')">BUILD YOUR Fabec IT</button>
            <br/><br/>
            </div>
            <div class="col-md-6 column">
                <!-- <h2>Get started with FabeC IT.</h2>
                 <ul class="list-unstyled services-list">
                     <li><a ng-href="#ad">App Development</a></li>
                     <li> <a ng-href="#cd">Continuous Delivery</a></li>
                     <li> <a ng-href="#hc">Hybrid Cloud</a></li>
                     <li> <a ng-href="#so">Service Orchestration</a></li>
                     <li> <a ng-href="#pm">Project Management</a></li>
                     <li> <a ng-href="#cs">Consulting & Staffing</a></li>
                 </ul>-->
                <img src="/app/assets/img/bgs/home_bg.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>
<section class="remove-section-padding">
    <img src="/app/assets/img/bgs/sep.png" class="img-responsive v-cover" alt="" style="position: relative">
</section>
<section class="home-section2">
    <div class="container">
        <div id="ad" class="row clearfix">
                <h1>App Development</h1>
                <p>At Fabec we balance three core aspects of Software Development; Usability, Design, and Marketing. These aspects combine to create a product experience that keeps the user engaged and coming back for more. We think about marketing from the beginning and highlight those niches that make your product unique.</p>
        </div>
        <div class="ho-rule"></div>

        <div id="hc" class="row clearfix">
                <h1>Hybrid Cloud</h1>
                <p>Thanks to cloud computing, the need for large IT infrastructure and people can greatly be reduced and in some cases eliminated all together. The "Faster Better Cheaper" promise of cloud is still a fancy to most organizations. We ease your journey to Cloud through our expertise in building both open source and commercial solutions. Fabec not only has the experience to architect and build software, but we also know how to deploy and manage those solutions. Leveraging the right cloud provider for the architecture, we can deploy your solution with the prospect of growth.</p>
        </div>
        <div class="ho-rule"></div>

        <div id="so" class="row clearfix">
                <h1>Service Orchestration & Automation</h1>
                <p> We are in the era of Cloud and extreme automation. However what is commonplace in most enterprises is ticket based service management, manual workflows, system admin driven provisioning and fulfillment, reactive incident management and a static infrastructure model that takes days, if not weeks & months, to deliver. Fabec brings deep expertise in orchestration and automation technologies that can usher your organization into the new era of Cloud and extreme automation.</p>
        </div>
        <div class="ho-rule"></div>

        <div id="cd" class="row clearfix">
                <h1>Continuous Delivery</h1>
                <p>While continuous delivery is a thing of the past to most silicon valley organizations, it is still a thing of the future for most enterprises. Through our continuous integration & release automation solution you can say goodbye to long and tense integrations, catch issues fast and nip them in the bud, spend less time debugging and more time adding features and accelerate time to market for your applications.</p>
        </div>
        <div class="ho-rule"></div>

        <div id="ds" class="row clearfix">
            <h1>Data Science</h1>
            <p>The capabilities and advantages of Big Data seem phenomenal. The potential seems great but does it fit in your organization? And if it does, how do you use it? If you are struggling with these same questions consult one of our Data Science professionals. We offer both advisory and technical services in Big Data.</p>
        </div>
        <div class="ho-rule"></div>

        <div id="pm" class="row clearfix">
                <h1>Project Management</h1>
                <p>We understand it is a challenge for most organizations to stay on track and to deliver to commitments in large technology transformation projects. Our team of PMI certified professionals with track record of managing large and complex IT programs can make all the difference between success and failure of your IT transformation initiatives.</p>
        </div>
        <div class="ho-rule"></div>

        <div id="cs" class="row clearfix">
                <h1>Consulting & Staffing</h1>
                <p>We deliver candidates who roll up their sleeves, dive in head first, and produce results. We recruit, staff and supervise specialists and consultants with professional qualifications in the next generation technologies that are revolutionizing the IT industry. We can bridge your organizations skill gaps in the following technologies - iOS, Android, SalesForce, CoreOS, Docker, Kubernetes, OpenStack, Cloud Foundry, VMWare vCloud Suite, MS System Center, AWS, Azure, Oracle Exalogic, Exadata, Exalytics, ServiceNow, vCenter Orchestrator, MSSC Orchestrator, Chef, Puppet, CA Service Virtualization (LISA & Nolio), Jenkins, Mongo DB, Cassandra, NoSQL.</p>
        </div>
        <div class="ho-rule"></div>

        <div id="train" class="row clearfix">
            <h1>Training</h1>
            <p>Hit the ground running with technology-specific training courses based on real-world tasks. All courses are hands-on and results-based, designed to shorten the learning curve and increase retention. Each course is facilitated by an experienced professional with a passion for learning.</p>
           <p style="text-align: left; padding: 0;">We offer trainings in the following areas</p>
            <ul>
                <li>Mobile Development - iOS, Android</li>
                <li>PaaS  - SalesForce</li>
                <li>Containerization - CoreOS, Docker</li>
                <li>Cloud - OpenStack, CloudFoundry, vCloud Suite, MS System Center, AWS, Azure</li>
                <li>Engineered Systems - Oracle Exalogic, Exadata, Exalytics</li>
                <li>ITSM - ServiceNow</li>
                <li>Orchestration - Chef, Puppet, Kubernetes</li>
                <li>DevOps - CA LISA, Nolio, Jenkins</li>
                <li>Database  - Mongo DB, Cassandra, NoSQL</li>
            </ul>
        </div>
        <div class="ho-rule"></div>

        <div id="rv" class="row clearfix">
                <h1>IT RFI/RFP & Vendor Governance</h1>
                <p>The Request for Proposal (RFP) or Request for Bid (RFB) are increasingly common in today’s ultra-competitive business climate.  Organizations want to ensure that they are getting the best deal from their vendors.  They also need to demonstrate due diligence in the vendor selection process to their procurement managers and executives.</p>
                <p>There are a numerous causes of inefficiency in the RFP process. Small and mid size organizations don’t have dedicated resources or the expertise to manage RFPs or bid responses. Fabec can help you manage the process end-to-end, right from RFP creation to vendor selection and ongoing vendor governance.</p>
        </div>
    </div>
</section>
