<!--<div class="container">
<div class="row text-center pad-row" >
    <div class="col-md-12">
        &lt;!&ndash; <img src="app/assets/img/clients.png" alt="" class="img-responsive" />&ndash;&gt;
        <div id="container">
            <header>
                <h1>Our Technologies</h1>
            </header>

            &lt;!&ndash; Each image is 350px by 233px &ndash;&gt;
            <div class="photobanner">
                <img class="first" src="app/assets/img/techs/image-6.png" alt="">
                <img src="app/assets/img/techs/image-6.png" alt="">
                <img src="app/assets/img/techs/image-6.png" alt="">
                <img src="app/assets/img/techs/image-6.png" alt="">
                <img src="app/assets/img/techs/image-6.png" alt="">
                <img src="app/assets/img/techs/image-6.png" alt="">
                <img src="app/assets/img/techs/image-6.png" alt="">
                <img src="app/assets/img/techs/image-6.png" alt="">
                <img src="app/assets/img/techs/image-6.png" alt="">
                <img src="app/assets/img/techs/image-6.png" alt="">
            </div>
        </div>
    </div>

</div>
</div>-->
<section id="footer-sec" >

    <div class="container">
        <div class="row  pad-bottom">
            <div class="col-md-3">
                <h4 style="margin-top: 0;" ng-click="goToPath('contact')"> Contact Us </h4>
                <ul style="list-style: none;margin: 0;padding: 0;">
                    <li><span class="glyphicon glyphicon-earphone"></span><a> 1-732-328-9119</a></li>
                    <li><span class="glyphicon glyphicon-envelope"></span><a> careers@fabecit.com</a></li>
                    <li><span class="glyphicon glyphicon-envelope"></span><a> sales@fabecit.com</a></li>
                    <li><span class="glyphicon glyphicon-envelope"></span><a> partner@fabecit.com</a></li>
                    <li><span class="glyphicon glyphicon-envelope"></span><a> hr@fabecit.com</a></li>
                    <li><a>3525 Quakerbridge Road</a></li>
                    <li><a>Suite 6200</a></li>
                    <li><a>Hamilton, NJ 08619</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 ng-click="goToPath('home')"> About Us</h4>
                <ul style="list-style: none;margin: 0;padding: 0;">
                    <li><a ng-click="goToElement('home','pitch')">Who we are</a></li>
                    <li><a ng-click="goToElement('home','expertise')">Our Expertise</a></li>
                    <!--<li><a ng-href="#/home?scrollTo=os">Our Operating System</a></li>-->
                    <li><a ng-click="goToElement('home','commitments')">Our Commitments</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 ng-click="goToPath('services')"> Services</h4>
                <ul style="list-style: none;margin: 0;padding: 0;">
                    <li><a ng-click="goToElement('services','ad')">App Development</a></li>
                    <li><a ng-click="goToElement('services','hc')">Hybrid Cloud</a></li>
                    <li><a ng-click="goToElement('services','so')">Service Orchestration</a></li>
                    <li><a ng-click="goToElement('services','cd')">Continuous Delivery</a></li>
                    <li><a ng-click="goToElement('services','ds')">Data Science</a></li>
                    <li><a ng-click="goToElement('services','pm')">Project Management</a></li>
                    <li><a ng-click="goToElement('services','cs')">Consulting & Staffing</a></li>
                    <li><a ng-click="goToElement('services','train')">Training</a></li>
                    <li><a ng-click="goToElement('services','rv')">IT RFI/RFP & Vendor Governance</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 ng-click="goToPath('careers')"> Careers</h4>
                <ul style="list-style: none;margin: 0;padding: 0;">
                    <li><a ng-click="goToElement('careers','working')">Work at Fabec</a></li>
                    <li><a ng-click="goToElement('careers','benefits')">Benefits</a></li>
                    <li><a ng-click="goToElement('careers','potential')">Maximize your earning potential</a></li>
                </ul>
            </div>
           <!-- <div class="col-md-3">
                <h4 ng-click="goToPath('partners')"> <strong>Partners</strong> </h4>
                <ul style="list-style: none;margin: 0;padding: 0;">
                    <li><a ng-href="#/partners?scrollTo=rh">Recruit Hub</a></li>
                </ul>
            </div>-->
        </div>
        <div class="row  pad-bottom">
            <div class="col-md-6"></div>
            <div class="col-md-6"> <div class="copyright">© 2015 Fabec IT Inc. All rights reserved.</div></div>
        </div>
    </div>
</section>