<!--<div class="container">
<div class="row text-center pad-row" >
    <div class="col-md-12">
        &lt;!&ndash; <img src="app/assets/img/clients.png" alt="" class="img-responsive" />&ndash;&gt;
        <div id="container">
            <header>
                <h1>Our Technologies</h1>
            </header>

            &lt;!&ndash; Each image is 350px by 233px &ndash;&gt;
            <div class="photobanner">
                <img class="first" src="app/assets/img/techs/image-6.png" alt="">
                <img src="app/assets/img/techs/image-6.png" alt="">
                <img src="app/assets/img/techs/image-6.png" alt="">
                <img src="app/assets/img/techs/image-6.png" alt="">
                <img src="app/assets/img/techs/image-6.png" alt="">
                <img src="app/assets/img/techs/image-6.png" alt="">
                <img src="app/assets/img/techs/image-6.png" alt="">
                <img src="app/assets/img/techs/image-6.png" alt="">
                <img src="app/assets/img/techs/image-6.png" alt="">
                <img src="app/assets/img/techs/image-6.png" alt="">
            </div>
        </div>
    </div>

</div>
</div>-->
<section id="footer-sec" >

    <div class="container">
        <div class="row  pad-bottom">
            <div class="col-md-3">
                <h4> <strong>About Us</strong> </h4>
                <ul style="list-style: none;margin: 0;padding: 0;">
                    <li><a ng-href="#pitch">Our Pitch</a></li>
                    <li><a ng-href="#expertise">Our Expertise</a></li>
                    <li><a ng-href="#os">Our Operating System</a></li>
                    <li><a ng-href="#commitments">Our Commitments</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4> <strong>Services</strong> </h4>
                <ul style="list-style: none;margin: 0;padding: 0;">
                    <li><a ng-href="#ad">App Development</a></li>
                    <li><a ng-href="#hc">Hybrid Cloud</a></li>
                    <li><a ng-href="#so">Service Orchestration</a></li>
                    <li><a ng-href="#cd">Continuous Delivery</a></li>
                    <li><a ng-href="#pm">Project Management</a></li>
                    <li><a ng-href="#cs">Consulting & Staffing</a></li>
                    <li><a ng-href="#rv">IT RFI/RFP & Vendor Governance</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4> <strong>Careers</strong> </h4>
                <ul style="list-style: none;margin: 0;padding: 0;">
                    <li><a ng-href="#work">Work at Fabec</a></li>
                    <li><a ng-href="#benefits">Benefits</a></li>
                    <li><a ng-href="#potential">Maximize your earning potential</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4> <strong>Contact Us</strong> </h4>
                <ul style="list-style: none;margin: 0;padding: 0;">
                    <li><a ng-href="#cp">Clients & Prospects</a></li>
                    <li><a ng-href="#js">Job Seekers</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>