
<section class="text-center wrapping-home" style="position: relative">
    <!--    <img src="assets/img/1.jpg" alt="" class="img-responsive" style="position: absolute; margin-top:-70px; width:inherit; height: inherit;"/>-->
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 column left-align">
                <h1 style="text-transform: capitalize;">We are growing fast and so are our clients.</h1>
                <h2 class="left-align">Learn how you can keep the momentum on.</h2>
                <button class="btn btn-default" ng-click="goToElement('partners','register')">REGISTER</button>
            </div>
            <div class="col-md-6 column">
                <img src="/app/assets/img/bgs/home_bg.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>

</section>
<section class="remove-section-padding">
    <img src="/app/assets/img/bgs/sep.png" class="img-responsive v-cover" alt="" style="position: relative">
</section>
<section id="register" class="home-section2">
    <div class="container">
        <div class="row clearfix">
            <h1>Recruit Hub</h1>
            <p>
                Register with us as a Staffing Partner if your company is in the business of recruitment and staffing. Becoming a Fabec partner allows you to receive hiring requests from Fabec and our direct clients. Email partner@fabecit.com to know more and to register.
            </p>
            <p>
                If you are a freelance recruiter and would like to work as an extension to our global team of recruiters, Fabec Recruit Hub program is created just for you. Email partner@fabecit.com to receive program information and to sign-up.
            </p>
         </div>
    </div>
</section>