<section id="careers" class="text-center wrapping-home" style="position: relative">
    <!--    <img src="assets/img/1.jpg" alt="" class="img-responsive" style="position: absolute; margin-top:-70px; width:inherit; height: inherit;"/>-->
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 column">
                <h1 style="text-transform: capitalize;">Enter the fold for a unique learning and work environment</h1>
               <button class="btn btn-default"><a style="text-decoration: none" ng-click="goToPath('careers')">Work at FaBeC IT</a></button>
            </div>
            <div class="col-md-6 column">
                <!-- <h2>Get started with FabeC IT.</h2>
                 <ul class="list-unstyled services-list">
                     <li><a ng-href="#ad">App Development</a></li>
                     <li> <a ng-href="#cd">Continuous Delivery</a></li>
                     <li> <a ng-href="#hc">Hybrid Cloud</a></li>
                     <li> <a ng-href="#so">Service Orchestration</a></li>
                     <li> <a ng-href="#pm">Project Management</a></li>
                     <li> <a ng-href="#cs">Consulting & Staffing</a></li>
                 </ul>-->
                <img src="/app/assets/img/bgs/home_bg.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
    <img src="/app/assets/img/bgs/sep.png" class="img-responsive" alt="" style="width: 100%;position: absolute;bottom: 0em;">
</section>

<section class="home-section2">
    <div  class="container">
        <div id="working" class="row clearfix">
            <h1>Work at FaBeC IT</h1>
            <p>We are growing fast and looking for awesome people to join our team! At FaBeC, we love what we do, pour our passion into building technology solutions and into providing amazing service to our clients. We strive to work smart, stay humble & nimble and create solutions that truly transform our clients IT.</p>
            <p>We're looking for dedicated, hard-working individuals who will help us achieve our goal of being the best IT provider in the markets we serve. Our North American corporate office is located in Hamilton, New Jersey, but we hire for projects throughout the United States and Canada. We pride ourselves on our ability to hire top talent and offer both technical and soft-skills training to our employees.</p>

            <div class="ho-rule"></div>

            <h1>Current Openings</h1>
            <p>We are constantly hiring experts in next gen technologies to build innovative solutions for our clients. FaBeC is committed to providing an equal opportunity to all job seekers. If you have experience in one of the following roles or possess deep subject matter expertise in one of the following technologies please send your resume to Careers@FaBeChIT.com.</p>
                <table class="table table-striped table-bordered" style="background-color: #FFFFFF">
                    <thead>
                    <tr>
                        <th>Position</th>
                        <th>Location</th>
                        <th>Department</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active">
                        <td>IT Infrastructure Architect</td>
                        <td>Newark, NJ</td>
                        <td>FaBec IT-IS</td>
                    </tr>
                    <tr>
                        <td>AWS Solutions Architect</td>
                        <td>New York, NY</td>
                        <td>FaBec IT-IS</td>
                    </tr>
                    <tr>
                        <td>vCloud Solutions Architect</td>
                        <td>New York, NY</td>
                        <td>FaBec IT-IS</td>
                    </tr>
                    <tr>
                        <td>OpenStack & Cloud Foundry Expert</td>
                        <td>San Francisco, CA</td>
                        <td>FaBec IT-IS</td>
                    </tr>
                    <tr>
                        <td>Docker & Kubernetes Engineer</td>
                        <td>San Francisco, CA</td>
                        <td>FaBec IT-ASM</td>
                    </tr>
                    <tr>
                        <td>DevOps Engineer</td>
                        <td>Chicago, IL</td>
                        <td>FaBec IT-ASM</td>
                    </tr>
                    <tr>
                        <td>iOS or Android Developer</td>
                        <td>Washington, DC</td>
                        <td>FaBec IT-ASM</td>
                    </tr>
                    <tr>
                        <td>SalesForce Developer</td>
                        <td>Princeton, NJ</td>
                        <td>FaBec IT-ASM</td>
                    </tr>
                    <tr>
                        <td>ServiceNow Architect</td>
                        <td>Princeton, NJ</td>
                        <td>FaBec IT-ASM</td>
                    </tr>
                    <tr>
                        <td>Data Scientist</td>
                        <td>Stanford, CT</td>
                        <td>FaBec IT-DS</td>
                    </tr>
                    <tr>
                        <td>IT Transformation Projects Manager</td>
                        <td>New York, NY</td>
                        <td>FaBec IT-IS</td>
                    </tr>
                    </tbody>
                </table>
            <!--
            <h2>Roles</h2>
            <ul>
                <li>IT Infrastructure Architect</li>
                <li>AWS Solutions Architect
                <li>vCloud Solutions Architect
                <li>OpenStack Expert
                <li>Docker & Kubernetes Engineer
                <li>DevOps Engineer
                <li>iOS or Android Developer
                <li>SalesForce Developer
                <li>ServiceNow Architect
                <li>Data Scientist
                <li>IT Transformation Projects Manager
            </ul>
            <h2>Skills</h2>
            <ul>
                <li>iOS, Android</li>
                <li>Docker, Kubernetes</li>
                <li>OpenStack, vCAC, MSSC2012, AWS, Azure</li>
                <li>Oracle Exalogic, Exadata, Exacloud</li>
                <li>ServiceNow, vCenter Orchestrator</li>
                <li>Chef, Puppet, CA LISA, Nolio, Jenkins</li>
                <li>Mongo DB, Cassandra, NoSql</li>
                <li>SalesForce</li>
            </ul>-->
        </div>
        <div class="ho-rule"></div>

    <div id="benefits" class="row clearfix">
            <h1>Benefits</h1>
            <p>We recognize hard work and dedication with benefits that address individual needs. Our comprehensive package of benefits for eligible employees includes the following:</p>
            <ul>
                <li>Competitive medical, dental and vision insurance</li>
                <li>Tax-advantaged savings plans [401(k) and deferred savings plans]</li>
                <li>Generous time-off & vacation program</li>
                <li>Employee assistance program</li>
                <li>Anniversary Service Award program</li>
                <li>Tuition & certification fee reimbursement program</li>
                <li>Employee referral program</li>
            </ul>
            <p>We participate in USCIS e-Verify program and offer immigration assistance to qualified individuals and sponsor H1B visa, H1B transfers and permanent resident / green card applications.</p>
    </div>
        <div class="ho-rule"></div>
    <div id="potential" class="row clearfix">
            <h1>Maximize your earning potential</h1>
            <p>Fedup with middlemen taking a significant cut from your paycheck? Why settle for 75%-25% or even 80%-20% schemes when you can pocket up to 100% of your hard earned money. Contact us to know how we can help you.</p>
    </div>
    </div>
</section>
