<section id="home" class="text-center wrapping-home" style="position: relative">
<!--    <img src="assets/img/1.jpg" alt="" class="img-responsive" style="position: absolute; margin-top:-70px; width:inherit; height: inherit;"/>-->
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 column">
                <h1 style="text-transform: capitalize;">Faster, Better, Cheaper IT</h1>
                <h1 style="text-transform: capitalize;">
                    That's what Fabec IT stands for.
                </h1>
                <h2>You don’t have to pick just two, we deliver all three</h2>
                <button class="btn btn-default"><a style="text-decoration: none" ng-href="#/home?scrollTo=pitch">KNOW MORE</a></button>
            </div>
            <div class="col-md-6 column">
               <!-- <h2>Get started with FabeC IT.</h2>
                <ul class="list-unstyled services-list">
                    <li><a ng-href="#ad">App Development</a></li>
                    <li> <a ng-href="#cd">Continuous Delivery</a></li>
                    <li> <a ng-href="#hc">Hybrid Cloud</a></li>
                    <li> <a ng-href="#so">Service Orchestration</a></li>
                    <li> <a ng-href="#pm">Project Management</a></li>
                    <li> <a ng-href="#cs">Consulting & Staffing</a></li>
                </ul>-->
                <img src="/app/assets/img/bgs/home_bg.jpg" class="img-responsive img-responsive-custom" alt="">
            </div>
        </div>
    </div>
</section>

<section>
    <img src="/app/assets/img/bgs/sep.png" class="img-responsive v-cover" alt="" style="position: relative">
</section>

<section class="home-section2">
     <div class="container">
        <div id="pitch" class="row clearfix">
                <h1>Who we are</h1>
                <!--<h2>Who we are</h2>-->
                <p>We are an IT services and solutions company driven by a passion for delivering the "Faster, Better, Cheaper" promise of Cloud, Automation, and NextGen technologies.</p>
                <!--<h2>What we do</h2>-->
                <p>We build innovative technology solutions to address todays enterprise challenges and to put our clients on a transformation journey to become the enterprise of the future.</p>
               <!-- <h2>How we do it</h2>-->
                <p>We take next gen technologies that are revolutionizing the IT industry and turn them in to solutions for your enterprise. Our consultants have deep subject matter expertise and bring rich experience in Cloud, Automation, and Open Source technologies.</p>
        </div>
<div class="ho-rule"></div>
        <div id="expertise" class="row clearfix">
                <h1>Our Expertise</h1>
                <p>We have some of the most talented people in the areas of Cloud, Automation, and Open Source technologies. We not only have the experience to architect and build software solutions, but we also know how to deploy and manage those solutions. Leveraging the right cloud provider for the architecture, we can deploy your solution with the prospect of growth and automate the complete lifecycle.</p>
        </div>

<!--         <div class="ho-rule"></div>

        <div id="os" class="row clearfix">
                <h1>Our Operating System</h1>
                <p>Fabec fosters a culture of continuous improvement. We use our XAP platform to achieve the highest levels of performance in everything we do, from developing new solutions to finding better ways to serve our clients.</p>

                <p>XAP is the Fabec operating system. It focuses on the drivers of competitive excellence - our people and our work processes. Our leadership and empowered employees work together to implement XAP practices in all of our activities to benefit every client engagement.</p>

                <p>XAP has three elements: framework, platform and competency. The daily interaction of each element is what makes it an operating system. Results focus on perfect quality, on-time delivery, highly engaged employees working in a passionate and highly charged environment.</p>

                <p>We are committed to consistently delivering XAP benefits to our customers and employees.</p>
        </div>-->

         <div class="ho-rule"></div>

        <div id="commitments" class="row clearfix">
                <h1>Our Commitments</h1>
                <!--<h2>Who we are</h2>-->
                <p>Our commitments define who we are, how we work, our priorities and our values.</p>
                <h2>Performance</h2>
                <p>Our customers have a choice, and how we perform determines whether they choose us. We aim high, set ambitious goals and deliver results, and we use customer feedback to recalibrate when necessary. We move quickly and make timely, well-reasoned decisions because our future depends on them.</p>
                <h2>Innovation</h2>
                <p>We are a company of ideas that are nurtured by a commitment to next gen and open source technologies. The achievements of our partners in silicon valley inspire us to reach always for the next innovative and powerful and marketable idea for our enterprise customers. We seek and share ideas openly, and encourage diversity of experience and opinion.</p>
                <h2>Opportunity</h2>
                <p>Our employees' ideas and inspiration create opportunities constantly, and without limits. We improve continuously everything we do, as a company and as individuals. We support and pursue lifelong learning to expand our knowledge and capabilities and to engage with the world outside Fabec. Confidence spurs us to take prudent risks, to experiment, to cooperate with each other and, always, to learn from the consequences of our actions.</p>
                <h2>Responsibility</h2>
                <p>Successful businesses improve the human condition. We maintain the highest ethical standards and we encourage and celebrate our employees' active roles in their communities. We offer free training to college graduates and project opportunities for students. We sponsor local user groups, meetups and even larger events through out the year. We help our employees stay on top of what is going on, what is new and find ways to better the services we provide and solutions we build.</p>
            </div>
    </div>
</section>

