<section id="home" class="text-center wrapping-home" style="position: relative">
<!--    <img src="assets/img/1.jpg" alt="" class="img-responsive" style="position: absolute; margin-top:-70px; width:inherit; height: inherit;"/>-->
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 column">
                <h1>Faster, Better, Cheaper IT</h1>
                <p>
                    We are an IT services and solutions company driven by a passion for delivering the "Faster, Better, Cheaper" promise of Cloud, Automation and NextGen technologies.
                </p>
                <div class="docker-logo">
                    <img src="https://d3oypxn00j2a10.cloudfront.net/0.18.1/img/homepage/docker-logo-cutoff.png" class="" alt="">
                </div>
                <p style="font-style: italic;">You don’t have to pick just two, we deliver all three</p>
            </div>
            <div class="col-md-6 column">
                <h2>Get started with FabeC IT.</h2>
                <ul class="list-unstyled services-list">
                    <li><a ng-href="#ad">App Development</a></li>
                    <li> <a ng-href="#cd">Continuous Delivery</a></li>
                    <li> <a ng-href="#hc">Hybrid Cloud</a></li>
                    <li> <a ng-href="#so">Service Orchestration</a></li>
                    <li> <a ng-href="#pm">Project Management</a></li>
                    <li> <a ng-href="#cs">Consulting & Staffing</a></li>
                </ul>
            </div>
        </div>
        <div class="row text-center pad-top" >
            <div class="col-md-12">
                <p style="font-style: italic;">
                    We remove the complexity in adopting some of the Next Gen technologies that are revolutionizing the IT industry and accelerate the time to value for your organization.
                </p>
            </div>
        </div>
    </div>

</div>
</section>

