@font-face {
  font-family: 'Tungsten-Medium';
  src: url('Tungsten-Medium.eot');
  src: url('Tungsten-Medium.eot?#iefix') format('embedded-opentype'),
       url('Tungsten-Medium.ttf') format('truetype'),
       url('Tungsten-Medium.svg#Tungsten-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

