
<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgba(255, 255, 255, 0.901961);">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home"><img class="fabec-ico" src="app/assets/img/bgs/fabec.png"></a>
        </div>
        <div id="nav-bar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><div class="dropdown" ng-class="{'open':about}" ng-mouseenter="about=true" ng-mouseleave="about=false">
                    <a class="dropdown-toggle" id="dropdownAbout" data-toggle="dropdown" aria-expanded="true" ng-click="goToElement('home','body')">
                        About Us
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownAbout">
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="goToElement('home','pitch')">Who we are</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="goToElement('home','expertise')">Our Expertise</a></li><!--
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-href="#/home?scrollTo=os">Our Operating System</a></li>-->
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="goToElement('home','commitments')">Our Commitments</a></li>
                    </ul>
                </div>
                </li>
                <li>
                    <div class="dropdown" ng-class="{'open':service}" ng-mouseenter="service=true" ng-mouseleave="service=false">
                    <a class="dropdown-toggle" id="dropdownServices" data-toggle="dropdown" aria-expanded="true" ng-click="goToElement('services','body')">
                        Services
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownServices">
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="goToElement('services','ad')">App Development</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="goToElement('services','hc')">Hybrid Cloud</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="goToElement('services','so')">Service Orchestration</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="goToElement('services','cd')">Continuous Delivery</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="goToElement('services','ds')">Data Science</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="goToElement('services','pm')">Project Management</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="goToElement('services','cs')">Consulting & Staffing</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="goToElement('services','train')">Training</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="goToElement('services','rv')">IT RFI/RFP & Vendor Governance</a></li>
                    </ul>
                </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a aria-expanded="true" ng-click="goToElement('services','body')">
                            Solutions
                        </a>
                    </div></li>
                <li>
                <div class="dropdown" ng-class="{'open':career}" ng-mouseenter="career=true" ng-mouseleave="career=false">
                    <a class=" dropdown-toggle" id="dropdownCareers" data-toggle="dropdown" aria-expanded="true" ng-click="goToElement('careers','body')">
                        Careers
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCareers">
                        <li role="presentation"><a role="menuitem" tabindex="-1"  ng-click="goToElement('careers','working')">Work at Fabec</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1"  ng-click="goToElement('careers','benefits')">Benefits</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1"  ng-click="goToElement('careers','potential')">Maximize your earning potential</a></li>
                    </ul>
                </div></li>

                <li><div class="dropdown" ng-class="{'open':partners}" ng-mouseenter="partners=true" ng-mouseleave="partners=false">
                    <a class=" dropdown-toggle" id="dropdownPartners" data-toggle="dropdown" aria-expanded="true" ng-click="goToElement('partners','body')">
                        Partners
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownPartners">
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="goToElement('partners','register')">Recruit Hub</a></li>
                    </ul>
                </div></li>



                <li><div class="dropdown" ng-class="{'open':contact}" ng-mouseenter="contact=true" ng-mouseleave="contact=false">
                    <a class="dropdown-toggle" id="dropdownContact" data-toggle="dropdown" aria-expanded="true" ng-click="goToElement('contact','body')">
                        Contact Us
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownContact">
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="goToElement('contact','contact')">Clients & Prospects</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="goToElement('contact','contact')">Job Seekers</a></li>
                    </ul>
                </div></li>
            </ul>
        </div>
    </div>
</div>