<div id="pitch"  class="container">
    <div class="row clearfix">
        <h1>Our Pitch</h1>
        <h2>Who we are</h2>
        <p>We are an IT services and solutions company driven by a passion for delivering the "Faster, Better, Cheaper" promise of Cloud, Automation, and NextGen technologies.</p>
        <h2>What we do</h2>
        <p>We build innovative technology solutions to address todays enterprise challenges and to put them on the transform journey to become the  enterprise of the future.</p>
        <h2>How we do it</h2>
        <p>We take next gen technologies  that are revolutionizing the IT industry and turn them in to solutions for your enterprise. Our consultants have deep subject matter expertise in technologies that are transforming IT as we know today. They bring rich experience in Cloud, Automation and Open Source technologies. We are also a strong proponent of the open source technologies.</p>

    </div>
</div>

<div id="expertise" class="container">
    <div class="row clearfix">
        <h1>Our Expertise</h1>
        <p>We have some of the most talented people in the areas of Cloud, Automation, and Open Source technologies. We not only have the experience to architect and build software solutions, but we also know how to deploy and manage those solutions. Leveraging the right cloud provider for the architecture, we can deploy your solution with the prospect of growth and automate the complete lifecycle.</p>

    </div>
</div>

<div id="os" class="container">
    <div class="row clearfix">
        <h1>Our Operating System</h1>
        <p>FaBeCh fosters a culture of continuous improvement. We use our XAP platform to achieve the highest levels of performance in everything we do, from developing new solutions to finding better ways to serve our clients.</p>

        <p>XAP is the FaBeCh operating system. It focuses on the drivers of competitive excellence - our people and our work processes. Our leadership and empowered employees work together to implement XAP practices in all of our activities to benefit every client engagement.</p>

        <p>XAP has three elements: framework, platform and competency. The daily interaction of each element is what makes it an operating system. Results focus on perfect quality, on-time delivery, highly engaged employees working in a passionate and highly charged environment.</p>

        <p>We are committed to consistently delivering XAP benefits to our customers and employees.</p>

    </div>
</div>

<div id="commitments" class="container">
    <div class="row clearfix">
        <h1>Our Commitments</h1>
        <h2>Who we are</h2>
        <p>Our commitments define who we are, how we work, our priorities and our values.</p>
        <h2>Performance</h2>
        <p>Our customers have a choice, and how we perform determines whether they choose us. We aim high, set ambitious goals and deliver results, and we use customer feedback to recalibrate when necessary. We move quickly and make timely, well-reasoned decisions because our future depends on them.</p>
        <h2>Innovation</h2>
        <p>We are a company of ideas that are nurtured by a commitment to next gen and open source technologies. The achievements of our partners in silicon valley inspire us to reach always for the next innovative and powerful and marketable idea for our enterprise customers. We seek and share ideas openly, and encourage diversity of experience and opinion.</p>
        <h2>Opportunity</h2>
        <p>Our employees' ideas and inspiration create opportunities constantly, and without limits. We improve continuously everything we do, as a company and as individuals. We support and pursue lifelong learning to expand our knowledge and capabilities and to engage with the world outside FaBeCh. Confidence spurs us to take prudent risks, to experiment, to cooperate with each other and, always, to learn from the consequences of our actions.</p>
        <h2>Responsibility</h2>
        <p>Successful businesses improve the human condition. We maintain the highest ethical standards and we encourage and celebrate our employees' active roles in their communities. We offer free training to college graduates and project opportunities for students. We sponsor local user groups, meetups and even larger events through out the year. We help our employees stay on top of what is going on, what is new and find ways to better the services we provide and solutions we build.</p>
    </div>
</div>


