
<section class="text-center wrapping-home" style="position: relative">
    <!--    <img src="assets/img/1.jpg" alt="" class="img-responsive" style="position: absolute; margin-top:-70px; width:inherit; height: inherit;"/>-->
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 column">
                <h1 style="text-transform: capitalize;">Everything we do at Fabec is about <br/> Customer Delight</h1>
                <button class="btn btn-default"><a style="text-decoration: none" ng-href='#/contact?scrollTo=contact'>Contact Us</a></button>
            </div>
            <div class="col-md-6 column">
                <img src="/app/assets/img/bgs/home_bg.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
    <img src="/app/assets/img/bgs/sep.png" class="img-responsive v-cover" alt="">
</section>

<section id="contact" class="home-section2">
<div class="container">
    <div class="row clearfix">
        <h1>Contact Us</h1>
        <p>We appreciate your interest in Fabec.  Delighted customers are the reason for our existence and we take customer delight very seriously.</p>

        <p>Didn’t find what you were looking for on our site?  To learn more about Fabec, our services, people, capabilities and how we can deliver value, email sales@fabecit.com.</p>

        <p>Visit our corporate headquarters at 3525 Quakerbridge Road, Suite 6200, Hamilton, NJ 08619, USA or call us on 732-328-9119.</p>

        <p>If you are a job seeker and interested in a career opportunity with Fabec, please visit our Careers page or email careers@fabecit.com</p>

    </div>
</div>
</section>